<div class="example-container">

    <mat-form-field> <input matInput

      [(ngModel)]="titleModel" placeholder="Title"> </mat-form-field>

    <br>
    <mat-form-field> <input matInput

      [(ngModel)]="contentModel" placeholder="Enter your content"> </mat-form-field>

    <br>

  </div>

 

  <br>
  <button class="button" mat-raised-button (click)="createQuicknotes()">

    Add Note</button>

 

  <hr>

  <div fxLayout="row" *ngIf="quicknotes && quicknotes.length > 0">
  
  <p *ngFor="let i of quicknotes">
    <mat-card class="example-card">
      <mat-card-title>{{i.title}}</mat-card-title>
      <mat-card-content>{{i.content}}</mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
      <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
        <button mat-button>Edit</button>
        <button mat-button>Delete</button>
      </mat-card-actions>
    </mat-card> 
  </p>
  </div>
 