
<div mat-dialog-content>
   
    <form [formGroup]="addGroupForm">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="note title">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input fromControlName="description" matInput placeholder="Description">
          </mat-form-field>

          <button class="button" mat-raised-button color="primary" (click)="createGroups()">
  
            Add Group</button>
         
          <hr>
         
          <p *ngFor="let i of groups">
          
            <mat-card-title> {{ i.title }} </mat-card-title>
          
            <mat-card> {{ i.description }} </mat-card>
        
            <a mat-raised-button color="primary" routerLink="/quicknotes">VIEW</a>
          </p> -->
</form>

     

<!-- <div class="example-container">

    <mat-form-field> <input matInput
  
      [(ngModel)]="titleModel" placeholder="Title"> </mat-form-field>
  
    <br>
 
    <mat-form-field> <input matInput
  
      [(ngModel)]="descriptionModel" placeholder="Enter group description"> </mat-form-field>
  
    <br>
  
  </div>
 
  <br>
  
  <button class="button" mat-raised-button color="primary" (click)="createGroups()">
  
    Add Group</button>
 
  <hr>
 
  <p *ngFor="let i of groups">
  
    <mat-card-title> {{ i.title }} </mat-card-title>
  
    <mat-card> {{ i.description }} </mat-card>

    <a mat-raised-button color="primary" routerLink="/quicknotes">VIEW</a>
  </p> -->
