
<!-- favourites -->
<div class="favs">
                <h1><b>FAVOURITES</b></h1>
           <mat-card>
            <img src="https://tse4.mm.bing.net/th/id/OIP.vuyRATxnOBN_B8r16BrGtwHaEK?pid=ImgDet&rs=1" alt="image" style="width: 30%;">
           </mat-card>

           <div class="favcard">
          <mat-card>
            <mat-card-title>Favourite Notes</mat-card-title>
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button> <br>
          
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="openDialog()">View</button>
            </mat-card-actions>

          </mat-card>
          </div><br>
</div>

<!-- groups -->

<div class="grps">

<h1><b>GROUPS</b></h1>
<div class="favcard1">
<mat-card>
    <mat-card-title>List Of Groups</mat-card-title>
    <br>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openDialogBox()">Add</button>
    </mat-card-actions>
</mat-card>
</div>

</div>