
 @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

 .favcard{
    
    height: 150px;

 }
 .favcard1{
   
   height: 500px;

}

 /* body{
    background-image: url('https://cdn.wallpapersafari.com/38/4/ejFIbV.jpg');
  }  */

 