<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">

 <!-- <p *ngFor="let i of quicknotes"> -->

<div class="fav">   <mat-toolbar color="primary">

  <span><h1 >Favourites</h1></span>

 </mat-toolbar></div>


  <mat-card class="example-card">

    <mat-card-title>Note 1</mat-card-title>

    <mat-card-content>This is a note about Space and Technology </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>

    <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

      <button mat-button>Edit</button>

      <button mat-button>Delete</button>

    </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">

    <mat-card-title>Note 2</mat-card-title>

    <mat-card-content>This is a note about emerging technologies</mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>

    <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

      <button mat-button>Edit</button>

      <button mat-button>Delete</button>

    </mat-card-actions>

  </mat-card>

  <mat-card class="example-card">

<mat-card-title>Note 3</mat-card-title>

    <mat-card-content>This is a note about Travel and Cuisines</mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>

    <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

      <button mat-button>Edit</button>

      <button mat-button>Delete</button>

    </mat-card-actions>
</mat-card>

<mat-card class="example-card">

    <mat-card-title>Note 4</mat-card-title>

    <mat-card-content>This is a note about Sports and Art</mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>

    <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

      <button mat-button>Edit</button>

      <button mat-button>Delete</button>

    </mat-card-actions>

    </mat-card>

    <mat-card class="example-card">

    <mat-card-title>Note 5</mat-card-title>

    <mat-card-content>This is a note about Wonders of the World</mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>

    <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

      <button mat-button>Edit</button>

      <button mat-button>Delete</button>

    </mat-card-actions>

  </mat-card>

</cdk-virtual-scroll-viewport>

<!-- </p> -->

<!-- <div class="example-card">

<mat-card>

  <mat-card-header>

    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title>TRAVEL</mat-card-title>

    <mat-card-subtitle>Trivandrum Diaries</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>

    <p>

      Encircled by the Arabian Sea on the west and the state of Tamil Nadu on the east, Thiruvananthapuram, well known as Trivandrum, is the southernmost district and the capital of the south Indian state of Kerala. Referred to as ‘Evergreen City of India’, Thiruvananthapuram is one of its extremely popular tourist destinations as well. The city boasts of charming beaches, alluring temples, historic monuments, spectacular palaces, wonderful backwaters, tea, coffee and spice plantations and its rich culture. Its exotic geographical features is the prime reason that the city receives massive footfall every year. Its natural beauty is surely to become a treat to your eyes.

    </p>

  </mat-card-content>

  <mat-card-actions>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

  </mat-card-actions>

</mat-card>

</div>

<mat-card class="example-card-2">

  <mat-card-header>

    <mat-card-title>CUISINE</mat-card-title>

    <mat-card-subtitle>Kerala</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>

    <p>

      Kerala cuisine is a culinary style originated in the Kerala, a state on the southwestern Malabar Coast of India. Kerala cuisine offers a multitude of both vegetarian and non-vegetarian dishes prepared using fish, poultry and red meat with rice a typical accompaniment. Chillies, curry leaves, coconut, mustard seeds, turmeric, tamarind, asafoetida and other spices are also used in the preparation.

    </p>

  </mat-card-content>

  <mat-card-actions>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

      <mat-icon>favorite</mat-icon>

    </button>

  </mat-card-actions>

</mat-card>




<mat-card class="example-card-3">

  <mat-card-header>

    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title>CULTURE</mat-card-title>

    <mat-card-subtitle>Kerala</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>

    <p>

      The culture of Kerala has developed over the past millennia, influences from other parts of India and abroad. It is defined by its antiquity and the organic continuity sustained by the Malayali people. Modern Kerala society took shape owing to migrations from different parts of India and abroad throughout Classical Antiquity.



      Kerala traces its non-prehistoric cultural genesis to its membership (around the AD 3rd century) in a vaguely defined historical region known as Thamizhagom — a land defined by a common Tamil culture and encompassing the Chera, Chola, and Pandya kingdoms.     
      </p>

    </mat-card-content>

    <mat-card-actions>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">

        <mat-icon>favorite</mat-icon>

      </button>

    </mat-card-actions>

  </mat-card> -->

